<div class="topnav">
    <a class="logo" routerLink="./">ECO Posts</a>
    <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
    <a routerLink="articles" routerLinkActive="active">Articles</a>
    <!-- <a routerLink="donation" routerLinkActive="active">Dons</a> -->

    <div class="login">
        <button mat-raised-button color="primary" routerLink="sign-in">Connexion</button>
        <button mat-raised-button color="accent" routerLink="register">S'inscrire</button>
    </div>

  </div>