<div class="carousel">
    <div class="container">
        <div id="slider">
            <figure>
                <img  src="assets/images/camping.jpg" alt="img camping">
                <img  src="assets/images/environement.jpg" alt="img environement">
                <img  src="assets/images/nature.jpg" alt="img nature">
                <img  src="assets/images/nucleaire.jpg" alt="img nucleaire">
                <img  src="assets/images/pollution_eau.jpg" alt="img pollution_eau">
            </figure>
        </div>
    </div>
</div>

<div class="zone-text">
    <div class="zone-titre">
        <p> CLIMAT. <br><br><br> BIODIVERSITE. <br><br><br> POLLUTION. </p>
    </div>

    <div class="zone-citation">
        <h1><br> "Comprendre pour mieux agir" </h1>
    </div>

    <div class="zone-paragraphe">
        <p><br><br>
            ECO Posts est un site de partage de connaissance et d'information pour vous aider à comprendre <br>
            les enjeux de notre monde en transition et mieux les appréhender dans votre quotidien en tant que citoyen, <br>
            consommateur ou professionnel.
        </p>
    </div>
</div>


<h1>Derniers articles</h1>
<p>Découvrez nos derniers articles pour gagner en connaissance et <br> 
   compréhension sur les sujets qui comptent vraiment.</p>

<section class="card-in">
    <div class="box-three">
        <div class="box">
            <div class="card">
                <mat-card class="carte">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        </div>

        <div class="box">
            <div class="card">
                <mat-card class="carte">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                        </p>
                        </mat-card-content>
                    </mat-card>
                </div>
        </div>

        <div class="box">
            <div class="card">
                <mat-card class="carte">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                        </p>
                        </mat-card-content>
                    </mat-card>
                </div>
        </div>

</section>




<h1>Découvrez les sujets plébiscités</h1>

<p>Votre dose de décryptages sur les sujets qui comptent pour notre avenir. Sensibilisez autour de vous. Montrez que ces sujets comptent pour vous aussi.</p>

<section class="card-in">
    <div class="res-card-box">

    
<div class="box-three">
<div class="box">
    <div class="card">
        <mat-card class="carte">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
</div>

<div class="box">
    <div class="card">
        <mat-card class="carte">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
            </mat-card>
        </div>
</div>

<div class="box">
    <div class="card">
        <mat-card class="carte">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
            </mat-card>
        </div>
</div>

<div class="box">
    <div class="card">
        <mat-card class="carte">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
            </mat-card>
        </div>
</div>

<div class="box">
    <div class="card">
        <mat-card class="carte">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
            </mat-card>
        </div>
</div>

<div class="box">
    <div class="card">
        <mat-card class="carte">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
</section>