.banner{
    position: relative;
    margin: 0 auto;
    background: url("../../assets/images/paysage_banner.jpg") no-repeat center left;
    background-size: cover;
    height: 450px;
    .background img{
        width: 100%;
        height: 450px;
    }
    .title{
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        margin-top: 150px;
        color: white;
        font-size: 45px;
        font-weight: bold;
    }
}

.title-header{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: bold;
}


@media (max-width:1200px){
    .res-card-box{
        width: 100vw !important;
    }
}