@import './theming/custom-theme';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

  .card-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
    font-family: 'Rubik', sans-serif;
    .res-card-box{
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .box-three {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .box {
        width: 300px;
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 450px;
            padding: 5px;
            margin: 5px;
            .carte {
                max-width: 300px;
            }
        }
    }
}