/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    height: 49px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover, .topnav a.active {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.logo {
    background-color: cadetblue;
    color: white;
  }

  .login {
      float: right;
      height: 100%;
      display: flex;
      align-items: center;
      button {
        margin-right: 15px;
      }
  }