.biographie {
    background-color: white;
    text-align: center;
    padding-bottom: 10%;
    padding-top: 5%;
    font-family: 'Rubik', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 3%;
    font-weight: bold;
    font-size: 32px;
}
p {
    text-align: center;
    margin: 3%;
}



.card-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
    font-family: 'Rubik', sans-serif;
    .res-card-box{
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .box-three {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .box {
        width: 300px;
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 450px;
            padding: 5px;
            margin: 5px;
            .carte {
                max-width: 300px;
            }
        }
    }
}

@media (max-width:1200px){
    .res-card-box{
        width: 100vw !important;
    }
}



.carousel {
    background-color:#b9b9b9;
    background-image:url(../../assets/images/slider.jpg);
    color :#e2e2e2;
    .container {
        overflow: hidden;
         width: 50%;
         margin-left: 0%;
         margin-right: 50%;
         margin-bottom: 5%;
    }
    div#slider { 
        width: 80%;
        max-width: 1000px;
    } 
    div#slider figure {
        position: relative; 
        width: 500%;
        margin: 0;
        padding: 0;
        font-size: 0;
        left: 0;
        text-align: left;
        animation: 25s slidy infinite;
      }
    div#slider figure img { 
        width: 20%;
        height: auto;
        float: left;
    }
    div#slider { 
        width: 100%;
        max-width: 1000px;
    }
    @keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
      }
}

.zone-text {
    width: 40%;
    color : #b9b9b9;
    z-index: 10;
    font-size: 25px ;
    margin-right: 0%;
    margin-left: 55%;
    margin-top: -35%;
    margin-bottom: 30%;
    .zone-titre {
        font-size: 50px ;
        color: #b9b9b9;
        text-align: center;
        line-height: 20px;
    }
    .zone-paragraphe {
        font-size: 17px ;
        float: center ;
    }
}