section{
    height: 100%;
    form {
        width: 30%;
        padding: 100px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        button {
            width: 50%;
            min-width: 100px;
            max-width: 200px;
            margin: auto;
            margin-top: 20px;
        }
    }
}
