$mat-blue-green: (
    50 : #ecf3f4,
    100 : #cfe2e3,
    200 : #afcfd0,
    300 : #8fbbbd,
    400 : #77adae,
    500 : #5f9ea0,
    600 : #579698,
    700 : #4d8c8e,
    800 : #438284,
    900 : #327073,
    A100 : #bffcff,
    A200 : #8cfaff,
    A400 : #59f7ff,
    A700 : #40f6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-dark-red: (
    50 : #f6e7e7,
    100 : #e9c3c4,
    200 : #db9c9d,
    300 : #cd7476,
    400 : #c25658,
    500 : #b7383b,
    600 : #b03235,
    700 : #a72b2d,
    800 : #9f2426,
    900 : #901719,
    A100 : #ffc6c7,
    A200 : #ff9394,
    A400 : #ff6061,
    A700 : #ff4748,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

